   body {
            background: linear-gradient(to right, #4b2a2a, #876486);
            font-family: 'Almendra Display';
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        h2 {
            margin: 10px;
            color: #eee282; 
            text-align: center;
            font-size: 40px; 
            background-color: rgba(88, 62, 62, 0.755);
            font-weight: 750;    
        }
        h3 {
            margin: 10px;
            color: #eee282; 
            text-align: center;
            font-size: 30px; 
            background-color: rgba(88, 62, 62, 0.755);
            font-weight: 750;    
        }
        p {
            color: #eee282;
            text-align: justify;
            margin: 10px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #503a3a;
            border: 2px solid #eee282; 
            border-radius: 10px;
        }
        ul li {
            float: left;
        }
        ul li a {
            display: block;
            color: #eee282;
            text-align: center;
            padding: 14px 16px;   
            text-decoration: none;
        }
        ul li a:hover {
            background-color: #ae8c8c;
        }
        .container {
            display: flex; 
            justify-content: space-between; 
            align-items: flex-start; 
            margin: 30px;
        }
        .carousel-container {
            width: 30%; 
            border: 5px solid #eee282;
            border-radius: 9px;
            overflow: hidden; 
        }
        .content {
            width: 45%;
            margin-left: 20px; /* Ajuste para margem esquerda */
            border: 5px solid #eee282;
            border-radius: 10px;
            padding: 20px;
            background-color: rgba(88, 62, 62, 0.5); 
        }
        h4 {
            margin: 10px;
            color: #eee282; 
            font-size: 30px; 
            background-color: rgba(88, 62, 62, 0.755);
            font-weight: 750;    
        }
          h5 {
            margin: 10px;
            color: #eee282; 
            font-size: 30px; 
            background-color: rgba(88, 62, 62, 0.755);
            font-weight: 750;    
        }
        .contato {
            margin: 30px;
            padding: 20px;
            border: 5px solid #eee282;
            border-radius: 10px;
            background-color: rgba(88, 62, 62, 0.5);
        }
        .contato input, .contato textarea {
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #eee282;
            border-radius: 5px;
        }
        .contato button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #eee282;
            color: #4e503a;
            cursor: pointer;
        }
        .contato button:hover {
            background-color: #ae8c8c;
        }